body {
    padding: 50px;
    
    margin: auto;

    line-height: 1.45em;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

#left  { 
    float: left;  
    width: 700px;
}

#right  { 
    float: right;  
    width: 400px;
}

a {
    color: rgb(0, 114, 206);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(0, 114, 206);
}

h1, h2, h3 {
    font-family: 'Istok Web', sans-serif;
    word-spacing: -2px;
}


h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-weight: 1000;
}

ul {
    padding-left: 1.5em;
}


strong {
    color: rgb(0, 51, 160);
}

img {
    width: 100%;
    height: auto;
}

th {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

td {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #ddd
}
